#define CONFIG_WIFI_SSID "REPLACE_SSID"
#define CONFIG_WIFI_PASSWORD "REPLACE_PASSWORD"

// clang-format off
#define HTTP_URL "http://SERVER:PORT/api/services/automation/trigger"
#define HTTP_TOKEN "Bearer REPLACE_HASS_TOKEN"
// clang-format on